@use "~arccorp-vars/dist/scss/main.scss";
.popular-section {
  padding-bottom: 55px;
  padding-top: 55px;
}
.popular-title {
  color: main.$black;
  margin-bottom: 13px;
  font-size: 18px;
  font-family: main.$arc-font-bold;
}

.article-outer {
  width: 270px;
}

.article-inner {
  border-top: 1px solid main.$landing;
}

.article-tag {
  padding-top: 25px;
  text-transform: uppercase;
  font-family: main.$arc-font-bold;
  color: main.$landing;
  font-size: 12px;
}

a.article-title {
  font-family: main.$arc-font-semibold;
  color: main.$tarmac;
  font-size: 14px;

  &:hover {
    color: main.$arc-teal;
  }
}


@media (max-width: 576px) {
   .article-outer {
    width: auto;
    padding-top: 10px;
   }

   .article-tag {
       padding-top: 15px;
   }
}