@use "~arccorp-vars/src/scss/main.scss";

.arc-blog-page {
  width: 100%;
  overflow: hidden;
}

.blog-jumbo {
  margin-left: 15rem;
  margin-bottom: 100px;

  .jumbo-row {
    background-color: #2a2b2c;
    height: 595px;
    max-width: inherit;
    border-radius: 10px;
  }

  .featured-row {
    position: absolute;
    top: 50%;
  }
}

.blog-jumbo-tags {
  color: main.$white;
  text-transform: uppercase;
  font-family: SourceSansPro-Bold, SourceSansPro-Regular, helvetica, arial,
    sans-serif;
  font-size: 15px;
  line-height: 1rem;
  position: absolute;
  top: 20px;
  left: 20px;
}

.arrowCTA {
  font-family: SourceSansPro-SemiBold, helvetica, arial, sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 20px;
  display: block;
  max-width: 200px;
  position: absolute;
  &::after {
    font-family: "icomoon";
    content: "\E909";
    font-size: 0.675rem;
    margin-left: 10px;
  }

  a {
    color: inherit;
  }
  a:hover {
    color: inherit;
  }
}

.blog-jumbo-image {
  height: 100%;
  padding: 168px 47px 33px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 80% center;
  border-bottom-left-radius: 10px;
}

.blog-jumbo-title {
  font-family: SourceSansPro-Bold, helvetica, arial, sans-serif;
  padding-top: 60px;
  line-height: 43px;
  font-size: 32px;
  max-width: 550px;
  display: block;
  position: relative;

  a {
    color: inherit;
  }
  a:hover {
    color: inherit;
  }
}
