@use "~arccorp-vars/src/scss/main.scss";

.blog-post {
  margin-bottom: 30px;
  position: relative;
  border-radius: 10px;
  width: 270px;
  height: 400px;
}

.post-top {
  height: 225px;
  max-width: inherit;
  width: 100%;
}

.blog-post-tags {
  display: inline-block;
  color: main.$white;
  text-transform: uppercase;
  font-family: main.$arc-font-bold;
  font-size: 12px;
  line-height: 1rem;
  margin: 10px 10px 10px 20px;
}

.blog-post-icon {
  background-size: cover;
  max-height: 225px;
  height: auto;
  width: 270px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: inset 0 0 0 2000px rgba(42, 43, 44, 0.4);
}

.post-bottom {
  height: 175px;
  max-width: 270px;
  width: 100%;
}

.post-bottom-inner {
  margin: 40px 20px auto;
}

.blog-post-date {
  color: main.$fuselage;
  text-transform: uppercase;
  font-size: 12px;
  padding-bottom: 10px;
}

div.blog-title {
  font-size: 18px;
  color: main.$tarmac;
  font-family: main.$arc-font-bold;
}

div.blog-title:hover {
  color: main.$arc-teal;
}

@media (max-width: 576px) {
  .blog-columns {
    margin-bottom: 15px;
  }

  .blog-post {
    height: unset;
    width: unset;
    max-width: unset;
  }

  .post-bottom-inner {
    margin: 20px;
  }

  .post-top {
    display: none;
  }

  .post-bottom {
    max-width: 100%;
    height: min-content;
    padding: 15px 20px 15px;
  }
}
