@use "~arccorp-vars/src/scss/main.scss";

.css-t3ipsp-control:hover {
   border-color: #D4D4D4 !important;
   cursor: pointer;
   border-radius: 0 !important;
}
.css-t3ipsp-control {
    box-shadow: none !important;
    border-color: #D4D4D4 !important;
    border-radius: 0 !important;
}

.css-13cymwt-control {
    border-color: #D4D4D4 !important;
    border-radius: 0 !important;
}
.css-1nmdiq5-menu {
    border-radius: 0 !important;
}

.css-1n6sfyn-MenuList {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.css-1s2u09g-control, .css-10wo9uf-option, .css-qbdosj-Input {
    &:hover {
    cursor: pointer;
    border-radius: 0;
    }
}

.css-1dimb5e-singleValue, .css-1jqq78o-placeholder {
    font-family: SourceSansPro-Bold;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 0.875rem;
    color: #6c6c6c !important;

}

.css-10wo9uf-option { 
    border-bottom: 1px solid #dddddd !important;
    text-transform: uppercase;
}


.css-tr4s17-option {
    border-bottom: 1px solid #dddddd !important;
    color: main.$arc-teal !important;
    font-family: SourceSansPro-Bold, Arial, Helvetica, sans-serif;
    font-size: 0.875rem;
    padding: 0.875rem;
    background-color: main.$white !important;
    text-transform: uppercase;

    &:hover {
        cursor: pointer;
    }
} 

.css-d7l1ni-option:hover, .css-d7l1ni-option {
    cursor: pointer;
    text-decoration: none !important;
    background-color: #f8f9fa !important;
    color: #6c6c6c !important;
    font-family: SourceSansPro-Bold, Arial, Helvetica, sans-serif;
    border-bottom: 1px solid #dddddd;
    text-transform: uppercase;
}

.css-1u9des2-indicatorSeparator{
    display: none;
}

.css-1hb7zxy-IndicatorsContainer, .css-15lsz6c-indicatorContainer {
    background-color: #189bb0;
    svg {
        color: white
    }

    &:hover {
        cursor: pointer;
    }
}