.css-b62m3t-container{
    text-align: left;
    width: 347px;
    margin-left: auto;
}

.css-1pahdxg-control:hover {
   border-color: #6c6c6c !important;
}
.css-1pahdxg-control {
    box-shadow: none !important;
    border-color: #6c6c6c !important;
}

// .css-6j8wv5-Input {
//     // 
// }

.css-qc6sy-singleValue, .css-14el2xx-placeholder{
    font-family: SourceSansPro-Bold;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 0.875rem;
    color: #6c6c6c !important;

}


.css-yt9ioa-option {
    border-bottom: 1px solid #dddddd;
    color: #6c6c6c !important;
    font-family: SourceSansPro-Bold, Arial, Helvetica, sans-serif;
    font-size: 0.875rem;
    padding: 0.875rem;
} 

.css-1n7v3ny-option:hover, .css-1n7v3ny-option {
    text-decoration: none !important;
    background-color: #f8f9fa !important;
    color: #6c6c6c !important;
    font-family: SourceSansPro-Bold, Arial, Helvetica, sans-serif;
    border-bottom: 1px solid #dddddd;
}

.css-1okebmr-indicatorSeparator{
    display: none;
}

.css-tlfecz-indicatorContainer, .css-1gtu0rj-indicatorContainer {
    background-color: #189bb0;
    svg {
        color: white
    }
}