// importing the arccorp vars to test colors
@use "~arccorp-vars/src/scss/main.scss";

@use "./partials/blog-popular";
@use "./partials/blog-jumbo";
@use "./partials/blog-post";
@use "./partials/select";
// $teal : #189bb0;

#app {
  justify-content: center;
  width: 100%;
  color: main.$arc-teal;
}

.blog-posts .container {
  max-width: 1280px;
}

.arc-blog-top {
  background-color: #f7f5f6;
}

.blog-posts-header .row {
  align-items: center;
  margin-top: 20px;
  margin-bottom: 60px;
}

.blog-posts-header h2 {
  font-family: SourceSansPro-SemiBold, Arial, Helvetica, sans-serif;
  font-size: 38px;
  line-height: 47px;
}

.blog-ctaBtn {
  margin-bottom: 60px;
}

.page-grid {
  display: none;
}

@media (max-width: 576px) {
  .blog-posts-header .row {
    h2 {
      text-align: center;
    }
  }
  .css-b62m3t-container {
    margin: auto;
  }


  .blog-post-icon {
      display: none;
  }
}

@media (min-width: 575px) {
  .blog-posts-header .row {
    h2 {
      text-align: left;
    }
  }
}